body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin-left: 20px;
    padding-left: 20px;
}
#body {
    background: url(../images/background.jpg) no-repeat center;
    height: 100%;
    min-height: 100vh; 
    background-size: cover;
}

h2 {
    height: 18px;
}

#form-data {
    background: white;
    padding: 20px 25px;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
}

.dropdown-button {
    width: 180px;
}

#position {
    position: relative;
}

.slider {
    z-index: -1;
}

#search_bar {
    position: absolute;
    top: 0;
    
}

#search_bar .input-field {
    border-radius: 10px;
}

#search {
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

#recipes .card-title {
    color: blue;
    font-size: 20px;
}

#recipes .card-image img {
    height: 250px;
}

#recipes .card-content p {
    font-size: 14px;
}

#recipes .card-action img {
    height: 40px;
    width: 40px;
}

#recipes .card-action p {
    margin: 0;
}

#recipes .card-action li {
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12px;
}

#popular .card-stacked .card-action ul {
    margin: 0;
}

#popular .card-content p {
    font-size: 14px;
}

#popular .card-action li {
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12px;
}

#popular img {
    height: 180px;
}

#recipe-img img {
    width: 255px;
}
#popular .card-action li {
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12px;
}

#add-review {
    border: 1px solid grey;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #616161 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #616161 !important;
    box-shadow: 0 1px 0 0 #616161 !important;
}

#created-on {
    font-size: 11px;
    font-style: italic;
}

#header, #main, #footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    #header, #main, #footer {
      padding-left: 0;
    }
}

#profile-image {
    margin: auto;
    width: 250px;
    height: 250px;
}

.profile #edit-btn {
    margin-left: 10px;
}

#notifications {
    margin-top: 15px;
}

.modal {
    width: 450px;
    height: 500px;
    max-height: 90%;
    max-width:90%;
}

#my-recipes {
    margin-top: 50px;
}

#user-recipes .btn-floating {
margin-left: 5px;
margin-right: 5px;
}

.fixed-action-btn {
    margin-bottom: 30px;
}