<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="nav-extended deep-orange darken-4">
                <div class="nav-wrapper">
                    <a href="index.html" id="logo" class="brand-logo hide-on-small-only">More-Recipes</a>
                    <a href="#" data-activates="slide_out" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="dropdown-button" href="#!" data-activates="user-control">John Stew<i class="material-icons left">account_circle</i></a>
                            <ul id="user-control" class="dropdown-content">
                                <li><a href="profile.html">Profile<i class="material-icons left">person</i></a></li>
                                <li><a href="recipes.html">My Recipes<i class="material-icons left">folder</i></a></li>
                                <li class="divider"></li>
                                <li><a href="index.html">Logout<i class="material-icons left">lock</i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="side-nav" id="slide_out">
            <li>
                <div class="nav-wrapper deep-orange darken-4 hide-on-med-and-up">
                    <a id="logo" href="index.html" class="white-text">More-Recipes</a>
                </div>
            </li>
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="images/background.jpg">
                    </div>
                    <a href="#!user"><img class="circle" src="images/avatar.png"></a>
                    <a href="#!name"><span class="white-text name">John Stew</span></a>
                    <a href="#!email"><span class="white-text email">johnstew@gmail.com</span></a>
                </div>
            </li>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html?#category">Category</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Activities</a></li>
            <li><a href="recipes.html">My Recipes<span class="badge">22</span></a></li>
            <li><a href="recipes.html?#user-favorites">My Favorites<span class="badge">55</span></a></li>
            <li><a href="profile.html?#notifications">Notificatons<span class="new badge">2</span></a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="index.html">Logout</a></li>
        </ul>
    </header>
    <main>
        <div class="parallax-container">
            <div class="parallax"><img src="images/image01.jpg"></div>
        </div>
        <div class="section white container">
            <div class="row">
                <div class="col s12">
                    <h5 class="header">German Sauce</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l5">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/image01.jpg">
                        </div>
                        <div class="card-action">
                            <a href="#!" class="chip waves-effect waves-red red"><i class="fa fa-heart"></i></a>
                            <a href="#!" class="chip waves-effect waves-red"><i class="fa fa-thumbs-up"></i></a>
                            <a href="#!" class="chip waves-effect waves-red"><i class="fa fa-thumbs-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l7">
                    <div class="row">
                        <div class="col s12">
                            <h6><b><em>Description:</em></b></h6>
                            <p id="description" class="grey-text text-darken-3 lighten-3">
                                A rich meal for an awesome afternoon.
                            </p>
                        </div>
                        <div class="col s12">
                            <h6><b><em>Preparation Time (Minutes):</em></b></h6>
                            <p id="prep-time" class="grey-text text-darken-3 lighten-3">
                                80
                            </p>
                        </div>
                        <div class="col s12">
                            <h6><b><em>Ingredients:</em></b></h6>
                            <p id="ingredients" class="grey-text text-darken-3 lighten-3">
                                Tomatoes <br> Fish <br> Pepper <br> Spices <br> Salt
                            </p>
                        </div>
                        <div class="col s12">
                            <h6><b><em>Directions:</em></b></h6>
                            <p id="directions" class="grey-text text-darken-3 lighten-3">
                                Boil the boilables for 20 minutes. <br>
                                Cook the fish for 15 minutes. <br>
                                Add spices and seasonings and cook for 30 minutes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 valign-wrapper deep-orange darken-4">
                    <h5 class="white-text">Reviews</h5>
                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="C:\Users\Justin\Pictures\Personal\2012-11-12-576.jpg" alt="" class="circle">
                        <span class="name"><b>John Stew</b></span>
                        <p id="created-on">Oct 20, 2017 at 07:30:25 PM</p>
                        <p id="review-content">A wonderful recipe, very tasty and easy to prepare.</p>
                    </li>
                    <li class="collection-item avatar">
                        <img src="images/avatar.png" alt="" class="circle">
                        <span class="name"><b>John Soup</b></span>
                        <p id="created-on">Oct 20, 2017 at 07:35:50 PM</p>
                        <p>I added one table spoon full of grinded curry leave and it made a great wonderful difference.</p>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col s12 m12 l8">
                    <form id="add-review" class="col s12 center-align" method="post">
                        <div class="row">
                            <div type="text" class="input-field col s12">
                                <textarea id="new-review" type="text" class="materialize-textarea" required></textarea>
                                <label for="new-review">Add your review</label>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn waves-effect waves-light indigo darken-2 white-text">Post Review</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer deep-orange darken-1">
        <div class="container center-align">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h5 class="white-text">Stay Connected</h5>
                    <i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-pinterest-square fa-2x"></i>
                    <i class="fa fa-instagram fa-2x"></i>
                </div>
                <div class="col s12 m6 l4 offset-l2">
                    <h5 class="white-text">Navigate</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="index.html">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="index.html?#popular">Popular Recipes</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 All rights reserved
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/src.js"></script>
</body>

</html>
