# Dependency directories
node_modules/

# Compiled directory
build/
client/dist/
reports/

# nyc test coverage
.nyc_output

# Coverage directory used by tools like istanbul
coverage
client/coverage

# dotenv environment variables file
.env

.DS_Store

.vscode
