language: node_js
sudo: false
node_js:
  - "stable"
services:
  - postgresql
before_script:
  - createdb more_recipes-test --username=postgres
install: 
  - npm install
script:
  - npm test
env:
  - NODE_ENV=test
cache:
  directories:
   - "node_modules"
after_success:
  - npm run coverage
branches:
  only:
    - develop
    - ch-tests-integrate-database-152520673

notifications:
  webhooks:
    - https://coveralls.io/webhook
  repo_token:
    - pfnX34pRk2afky5CXwDD6jUJ6glW9VL0u
