.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

#logo {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  margin-left: 20px;
  padding-left: 20px;
}

.dropdown-category {
  margin-right: 100px;
  width: 100px;
}

.dropdown-user {
  min-width: 200px;
}

.collapsible-header {
  padding-left: 32px !important;
}

.cursor-pointer {
  cursor: pointer;
}

#position {
  position: relative;
}

.slider {
  z-index: -1;
}

.search-bar {
  .input-field {
    border-radius: 10px;
  }

  #search-input {
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 50px;
    width: 100%;
  }

  .label-icon {
    color: #000000;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .label-icon:hover {
    outline: blue 10px;
  }
}

.search-by {
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 15px;
  width: auto;
}

#home-search-bar {
  position: absolute;
  top: 0;
  width: 100%;
}

.catalog-page {
  position: relative;
}

#scroll-to-top {
  bottom: 240px;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 15px;
  z-index: 5;
}

.end-message {
  bottom: -20px;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  text-align: center;
}

.recipes-list {
  margin: 20px 50px;

  .popular-list {
    margin: 15px 0;
  }

  .all-recipes-list {
    margin: 15px 0;
  }

  h4 {
    margin-left: 15px;
  }
}

@media only screen and (max-width : 992px) {
  .recipes-list {
    margin: 5px;
  }
}

.card-title {
  display: block;
  line-height: 1.5rem;
  overflow: hidden;
  padding: 0.8rem 1rem;
  text-overflow: ellipsis;
}

.card-content {
  display: block;
  height: 5.2rem;
  line-height: 1.2rem;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.icon-red {
  color: red;
  cursor: pointer;
}

.icon-green {
  color: green;
  cursor: pointer;
}

#recipes {
  .card-title {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
  }

  .card-image {
    img {
      height: 250px;
    }
  }

 .card-content {
    p {
      font-size: 16px;
    }
  }

  .card-action {
    p {
      margin: 0;
    }

    .recipe-owner {
      color: #000000;
      font-size: 14px;
      text-transform: initial;
    }

    li {
      display: inline;
      font-size: 12px;
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}

.single-card {
  .chip {
    outline: transparent;
  }

  .card-action {
    padding-left: 22px;
    padding-right: 22px;
  }
}

#description {
  word-break: break-all;
}

.chip {
  .black-text {
    padding-left: 3px;
  }

  .white-text {
    padding-left: 3px;
  }
}

.center-spinner {
  margin-top: 50px;
}

.add-review {
  border: 1px solid grey;
}

.delete-review {
  cursor: pointer;
}

.review-content {
  overflow-wrap: break-word;
}

.created-on {
  font-size: 11px;
  font-style: italic;
}

.dashboard {
  margin-top: 70px;

  .btn-floating {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.side-nav {
  padding-top: 15px;
}

.fixed-action-btn {
  margin-bottom: 80px;
}

.dropzone-area {
  margin-left: 150px;
  margin-right: 150px;
}

@media only screen and (max-width : 992px) {
  .dropzone-area {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.dropzone {
  width: 100%;
  height: 15rem;
  border: 0.2rem dotted #2196f3;

  i {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

#header, #main {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  #header, #main {
    padding-left: 0;
  }
}

.user-image {
  img {
    height: 250px;
    margin: auto;
    width: 250px;
  }
}

.image-upload-button {
  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
}

#edit-btn {
  right: 5px;
}

.logout-button {
  cursor: pointer;
}

.connect-icons {
  i {
    margin: 5px;
  }
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #66bb6a;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #4caf50;
}

.not-found {
  font-size: 40px;

  .status-number {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-bottom: 10px;
  }
}
